{% extends "base/base-volt.html" %}

{% block title %} DashboardTamu - KritikSaran {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Kritik dan Saran</h4>
      </div>
      <div class="card-body">
      
        <form role="form" enctype="multipart/form-data" method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" class="form-control" name="{{form.Nik.name}}" maxlength="{{form.Nik.max}}" required
              id="{{form.Nik.id_for_label}}" value="{{ request.user.username }}" disable="">
          </div>

          <div class="form-group">
            <label for="{{form.Kritik.id_for_label}}">{{form.Kritik.label}}:</label>
            <textarea class="form-control" name="{{form.Kritik.name}}" rows="10" required
              id="{{form.Kritik.id_for_label}}"></textarea>
          </div>

          <div class="form-group">
            <label for="{{form.Saran.id_for_label}}">{{form.Saran.label}}:</label>
            <textarea class="form-control" name="{{form.Saran.name}}" rows="10" required
              id="{{form.Saran.id_for_label}}"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-fill btn-primary" id="successAlert">Kirim</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
document.getElementById('successAlert').addEventListener('click', function () {
            swalWithBootstrapButtons.fire({
                icon: 'success',
                title: 'Success alert',
                text: 'Your work has been saved',
                showConfirmButton: true,
                timer: 1500
            })
        });
</script>
{% endblock javascripts %}