{% extends "base/base-volt.html" %}

{% block title %} DataTamu - ProfilTamu {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav
      aria-label="breadcrumb"
      class="d-none d-md-inline-block"
    >
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg
              class="icon icon-xxs"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              ></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Data Tamu</a></li>
        <li
          class="breadcrumb-item active"
          aria-current="page"
        >Profil Tamu</li>
      </ol>
    </nav>
    <h2 class="h4">Profil Tamu New</h2>
  </div>
</div>

        <div class="card">
            <div class="table-responsive py-4">
                <table class="table table-flush" id="datatable">
                    <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Kota Asal</th>
                            <th>No Headphone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ProfilTamu in ProfilTamu %}
      <tr>
        <td><span class="fw-normal">{{forloop.counter}}</span></td>
        <td>
          <a
            href="{% url 'dashadmin:profiltamu-detail' ProfilTamu.pk %}"
            class="d-flex align-items-center"
          >
            <div class="avatar d-flex align-items-center justify-content-center fw-bold rounded bg-secondary me-3"><span>{{ProfilTamu.Nama_lengkap|first|title}}</span></div>
            <div class="d-block">
              <span class="fw-bold">{{ProfilTamu.Nama_lengkap|title}}</span>
              <div class="small text-gray">{{ProfilTamu.Email}}</div>
            </div>
          </a>
        </td>
        <td><span class="fw-normal">{{ProfilTamu.Jenis_kelamin|title}}</span></td>
        <td><span class="fw-normal">{{ProfilTamu.Tempat_lahir|title}}</span></td>
        <td>
          <span class="fw-normal d-flex align-items-center">
            <a
              href="https://api.whatsapp.com/send?phone=62{{ProfilTamu.No_tlp}}"
              target="_blank"
            >+62 {{ProfilTamu.No_tlp}}</a>
          </span>
        </td>

        <!-- button-->
        <td>
          <div class="btn-group">
            <button
              class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <svg
                class="icon icon-xs"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
              </svg>
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
              <a
                class="dropdown-item d-flex align-items-center"
                href="{% url 'dashadmin:profiltamu-update' ProfilTamu.pk %}"
              >
                <svg
                  class="dropdown-icon text-gray-400 me-2"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 1.944A11.954 11.954 0 012.166 5C2.056 5.649 2 6.319 2 7c0 5.225 3.34 9.67 8 11.317C14.66 16.67 18 12.225 18 7c0-.682-.057-1.35-.166-2.001A11.954 11.954 0 0110 1.944zM11 14a1 1 0 11-2 0 1 1 0 012 0zm0-7a1 1 0 10-2 0v3a1 1 0 102 0V7z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Update
              </a>
              <a
                class="dropdown-item d-flex align-items-center"
                href="{% url 'dashadmin:profiltamu-delete' ProfilTamu.pk %}"
              >
                <svg
                  class="dropdown-icon text-danger me-2"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z"></path>
                </svg>
                Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}