{% extends "base/base-volt.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card ">
      <div class="card-header">
        <center>
        <h4 class="card-title"> TATA TERTIB BAGI PENYEWA KOST</h4>
      </center>
      </div>
      <div class="card-body">
        <ol>
          <li>Indekost atau kost adalah sebuah jasa yang menawarkan sebuah kamar untuk tidur bagi mahasiswa atau pekerja dengan sejumlah pembayaran tertentu untuk setiap periode per bulannya.</li>
          <li>Penyewa kost adalah seorang yang telah membayar di muka, biaya sewa kamar kost untuk tidurnya setiap per bulannya.</li>
          <li>Calon Penyewa kost, wajib menyerahkan:
            fotocopi kartu identitas yang masih berlaku sebanyak 2 rangkap dengan memperlihatkan aslinya.
            surat pernyataan siap mematuhi setiap peraturan dan ketentuan dari pemilik kost, yang telah ditandatangani bermaterai Rp 6000 oleh calon Penyewa kost.</li>
          <li>Calon Penyewa kost, wajib memberitahukan:
            nama, alamat dan nomor telepon saudara (orang tua, keluarga) yang dapat dihubungi.
            nama, alamat dan nomor telepon saudara (orangtua, keluarga/kerabat) terdekat (di Jakarta).</li>
          <li>Calon Penyewa kost, wajib menyerahkan uang deposit sebesar Rp. 500.000 sebagai jaminan kost, yang akan dikembalikan saat Penyewa kost bersangkutan tidak lagi memperpanjang sewa kamar dengan ketentuan tidak ada kerusakan ataupun tunggakan apapun.</li>
          <li>Setiap Penyewa kost wajib tepat waktu dalam membayar biaya sewa kamar kost, yaitu tiap tanggal 1 s/d 5 setiap bulannya, dan setiap kamar kost hanya dihuni satu orang penyewa kost.</li>
          <li>Penyewa kost wajib menjaga kebersihan kamar kost dan sekitarnya serta lingkungan rumah kost secara keseluruhan sebagai tanggung jawab bersama.</li>
          <li>Penyewa kost wajib membayar iuran kebersihan dan keamanan RT/RW sebagai bentuk tanggung jawab sosial lingkungan sebagai warga masyarakat yang baik.</li>
          <li>Penyewa kost harus berlaku sopan, dan menjaga etika dan tata karma, serta menjaga ketertiban, keamanan, ketenangan demi kenyamanan bersama dengan Penyewa kost lainnya serta lingkungan rumah kost dan sekitarnya.</li>
          <li>Penyewa kost dilarang keras berbuat onar dan berisik, apalagi menyetel music atau TV keras-keras atau menyanyi dengan alat musik yang mengganggu kenyamanan orang lain dan sekitarnya.</li>
          <li>Penyewa kost dilarang menerima tamu dan/atau membawa teman ke kamar kost. Sebaiknya menerima tamu atau teman adalah di tempat terbuka atau tempat umum lainnya, seperti warung atau café/resto.</li>
          <li>Penyewa kost dilarang merusak /mengambil barang fasilitas kamar kost. Segala bentuk kerusakan dan kehilangan pada kamar kost, akan dikenakan biaya penggantian pada Penyewa kost yang bersangkutan.</li>
          <li>Seluruh fasilitas kost, hanya diperuntukkan bagi Penyewa kost/penyewa kamar, bukan untuk umum.</li>
          <li>Penyewa kost, harap memberi tanda pada setiap barang pribadinya, agar tidak saling tukar.</li>
          <li>Penyewa kost tidak diperkenankan merokok di dalam kamar maupun di lingkungan rumah kost.</li>
          <li>Penyewa kost yang membawa kendaraan pribadi harap menjaga keamanan kendaraannya dengan memarkirnya ditempat yang telah disediakan dan menguncinya dengan aman. Kehilangan/ kerusakan yang disebabkan karena kelalaian pemilik kendaraan, diluar tanggung jawab pengelola kos.</li>
          <li>Penyewa kost dilarang mencuci kendaraan di lingkungan kost.</li>
          <li>Penyewa kost dilarang membawa dan memelihara binatang peliharaan.</li>
          <li>Penyewa kost dilarang keras membawa, menyimpan dan mengkonsumsi obat-obatan terlarang, minuman keras dan senjata tajam dan senjata api yang dapat membahayakan jiwa dan keselamatan pribadi dan orang lain.</li>
          <li>Setiap Penyewa kost bertanggung jawab pada barang milik pribadi, segala bentuk kehilangan yang disebabkan atas kelalaian pribadi, bukan merupakan tanggung jawab pengelola kos.</li>
          <li>Setiap Penyewa kost bertanggung jawab atas dirinya sendiri, maka apabila ada tindak kriminalitas dan pelanggaran hukum yang dilakukannya, akan dilaporkan pada pihak yang berwajib dan berwenang, dan pengelola kost tidak bertanggung jawab atas hal itu.</li>
          <li>Demi kenyamanan bersama, tamu kost harus meninggalkan rumah kost paling lambat pukul 21.00 wib.</li>
          <li>Penyewa Kost yang Keluar dan Masuk rumah kost dan garasi wajib menutup, mengunci/menggemboknya kembali untuk keamanan bersama.</li>
          <li>Bagi penyewa kost yang tidak mematuhi segala Peraturan dan Tata Tertib ini serta tidak taat terhadap segala ketentuan dan kebijakan pemilik kost, maka penyewa kost yang bersangkutan akan dikeluarkan dari rumah kost dan/atau dikenakan sanksi atau denda sebagai konsekwensinya.</li>
          <li>Aturan dan ketentuan yang belum diatur dalam Peraturan dan Tata Tertib ini akan diperbaharui dalam surat selanjutnya.</li><br>
         <p>Terima kasih.</p><br>
         <p>Hormat kami,</p><br>
         <p>Pemilik/Pengelola Kost</p><br>
          
        </ol>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}