{% extends "base/base-volt.html" %}
{% load humanize %}

{% block title %} DashboardTamu - Tagihan {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if subtotal == 0 %}
<div class="row justify-content-md-center">
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <div class=" me-4 me-sm-0"><svg
                xmlns="http://www.w3.org/2000/svg"
                width="80"
                height="80"
                fill="currentColor"
                color="#fba918"
                class="bi bi-exclamation-triangle-fill"
                viewBox="0 0 16 16"
              >
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg></div>
            <div class="d-sm-none">
              <h2 class="h5">Status</h2>
              <h3 class="mb-1 text-warning">Menunggu Konfirmasi</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h5">Status</h2>
              <h3 class="mb-1 text-warning">Menunggu Konfirmasi</h3>
            </div>
            <small>{{Statuskos.Waktu_in|date:"d F Y"}} - {{Statuskos.Waktu_out|date:"d F Y"}} </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% for invoice in invoice %}
<div class="row justify-content-center mt-4">
  <div class="col-12 col-xl-9">
    <div class="card shadow border-0 p-4 p-md-5 position-relative">
      <div class="d-flex justify-content-between pb-4 pb-md-5 mb-4 mb-md-5 border-bottom border-light">
        <img
          class="image-md"
          src="/static/assets2/img/logo/Gartnew.png"
          alt="Rocket Logo"
        >
        <div>
          <h4>Gatotkaca Kost</h4>
          <ul class="list-group simple-list">
            <li class="list-group-item fw-normal">Sleman, Yogyakarta</li>
            <li class="list-group-item fw-normal"><a
                class="fw-bold text-primary"
                href="#"
              >Gatotkacanetwork@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="mb-6 d-flex align-items-center justify-content-center">
        <h2 class="h1 mb-0">Invoice #{{invoice.id|title}}</h2>

        {% if invoice.selisih >= 0 %}
        <span class="badge badge-lg bg-success ms-4">Lunas</span>
        {% else %}
        <span class="badge badge-lg bg-danger ms-4">Belum Bayar</span>
        {% endif %}
      </div>
      <div class="row justify-content-between mb-4 mb-md-5">
        <div class="col-sm">
          <h5>Client Information:</h5>
          <div>
            <ul class="list-group simple-list">
              <li class="list-group-item fw-normal">{{invoice.Nama_lengkap|title}}</li>
              <li class="list-group-item fw-normal">{{invoice.Alamat_asal|title}}</li>
              <li class="list-group-item fw-normal"><a
                  class="fw-bold text-primary"
                  href="#"
                >{{invoice.Email}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm col-lg-4">
          <dl class="row text-sm-right">
            <dt class="col-6"><strong>Invoice No.</strong></dt>
            <dd class="col-6">{{invoice.id|title}}</dd>
            {% if invoice.selisih >= 0 %}
            <dt class="col-6"><strong>Date Issued:</strong>
            </dt>
            <dd class="col-6">{{invoice.Waktu_in|date:'d'|add:'-7'}}/{{invoice.Waktu_in|date:'M/Y'}}</dd>
            <dt class="col-6"><strong>Date Due:</strong>
            </dt>
            <dd class="col-6">{{invoice.Waktu_in|date:'d/M/Y'}}</dd>
            {% else %}
            <dt class="col-6"><strong>Tanggal Tagihan:</strong>
            </dt>
            <dd class="col-6">{{invoice.Waktu_out|date:'d'|add:'-7'}}/{{invoice.Waktu_out|date:'M/Y'}}</dd>
            <dt class="col-6"><strong>Jatuh Tempo:</strong>
            </dt>
            <dd class="col-6">{{invoice.Waktu_out|date:'d/M/Y'}}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead class="bg-light border-top">
                <tr>
                  <th
                    scope="row"
                    class="border-0 text-left"
                  >Sewa</th>
                  <th
                    scope="row"
                    class="border-0"
                  >Periode</th>
                  <th
                    scope="row"
                    class="border-0"
                  >Paket</th>
                  <th
                    scope="row"
                    class="border-0"
                  >Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th
                    scope="row"
                    class="text-left fw-bold h6"
                  >Kamar No {{invoice.No_kamar|title}}</th>
                  <td>
                    {% if invoice.selisih >= 0 %}
                    {{invoice.Waktu_in|date:'d M Y'}} - {{invoice.Waktu_out|date:'d M Y'}}
                    {% else %}
                    {{invoice.Waktu_out|date:'d M Y'}} - {{invoice.Bulan_out|date:'d M Y'}}
                    {% endif %}
                  </td>
                  <td>{{invoice.Paket}}</td>

                  {% if invoice.Paket == '3' %}
                  <td>Rp. 6.000.000</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end text-right mb-4 py-4">
            <div class="mt-4">
              <table class="table table-clear">
                <tbody>
                  <tr>
                    <td class="left"><strong>Subtotal</strong></td>
                    <td class="right">Rp. 6.000.000</td>
                  </tr>
                  <tr>
                    <td class="left"><strong>Discount (10%)</strong></td>
                    <td class="right">Rp. -1.350.0000</td>
                  </tr>
                  <tr>
                    <td class="left"><strong>PPN (10%)</strong></td>
                    <td class="right">Rp. 540.000</td>
                  </tr>
                  <tr>
                    <td class="left"><strong>Total</strong></td>
                    <td class="right"><strong>Rp. 5.940.000</strong></td>
                  </tr>
                  {% elif invoice.Paket == '2' %}
                  <td>Rp. 1.500.000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end text-right mb-4 py-4">
              <div class="mt-4">
                <table class="table table-clear">
                  <tbody>
                    <tr>
                      <td class="left"><strong>Subtotal</strong></td>
                      <td class="right">Rp. 1.500.000</td>
                    </tr>
                    <tr>
                      <td class="left"><strong>Discount (5%)</strong></td>
                      <td class="right">Rp. -75.000</td>
                    </tr>
                    <tr>
                      <td class="left"><strong>PPN (10%)</strong></td>
                      <td class="right">Rp. 142.500</td>
                    </tr>
                    <tr>
                      <td class="left"><strong>Total</strong></td>
                      <td class="right"><strong>Rp. 1.567.500</strong></td>
                    </tr>
                    {% else %}
                    <td>Rp. 500.000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-end text-right mb-4 py-4">
                <div class="mt-4">
                  <table class="table table-clear">
                    <tbody>
                      <tr>
                        <td class="left"><strong>Subtotal</strong></td>
                        <td class="right">Rp. 500.000</td>
                      </tr>
                      <tr>
                        <td class="left"><strong>Discount (0%)</strong></td>
                        <td class="right">Rp. 0</td>
                      </tr>
                      <tr>
                        <td class="left"><strong>PPN (10%)</strong></td>
                        <td class="right">Rp. 50.000</td>
                      </tr>
                      <tr>
                        <td class="left"><strong>Total</strong></td>
                        <td class="right"><strong>Rp. 550.000</strong></td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
              <h4>Payments to:</h4><span>Gatotkacanetwork@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}