{% extends "base/base-volt.html" %}

{% block title %} DashboardAdmin - KrtikSaran {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4">Kritik & Saran</h2>
        </div>
    </div>

    <div class="card card-body shadow border-0 table-wrapper table-responsive">
        <table class="table user-table table-hover align-items-center">
            <thead>
                <tr>
                    <th class="border-bottom">No</th>
                    <th class="border-bottom">Name</th>						
                    <th class="border-bottom">Kritik</th>
                    <th class="border-bottom">Saran</th>
                    <th class="border-bottom">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for kritikSaran in kritikSaran %}
                <tr>
                    <td><span class="fw-normal">{{forloop.counter}}</span></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <div class="avatar d-flex align-items-center justify-content-center fw-bold rounded bg-secondary me-3"><span>{{kritikSaran.Nama_lengkap|first|title}}</span></div>
                            <div class="d-block">
                                <span class="fw-bold">{{kritikSaran.Nama_lengkap}}</span>
                                <div class="small text-gray">{{kritikSaran.Email}}</div>
                            </div>
                        </a> 
                    </td>
                    <td><span class="fw-normal">{{kritikSaran.Kritik|title}}</span></td>                        
                    <td><span class="fw-normal">{{kritikSaran.Saran|title}}</span></td>                        

                    <!-- button-->
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'dashadmin:kritikSaran-delete' kritikSaran.pk %}">
                                    <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z"></path></svg>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



        <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
            <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'dashadmin:kritikSaran-view' page_obj.previous_page_number%}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        {% if page is page_obj.number%}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{page}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'dashadmin:kritikSaran-view' page %}">{{page}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'dashadmin:kritikSaran-view' page_obj.next_page_number%}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div>
        </div>
    </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
