{% extends "base/base-volt.html" %}

{% block title %} Pembayaran - TamuBaru {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav
      aria-label="breadcrumb"
      class="d-none d-md-inline-block"
    >
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="/">
            <svg
              class="icon icon-xxs"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              ></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="/dashadmin/pembayaran/">Pembayaran</a></li>
        <li class="breadcrumb-item"><a href="/dashadmin/kamar/">Input kamar</a></li>
      </ol>
    </nav>
    <h2 class="h4">Input Pembayaran Tamu Baru</h2>
    <p class="mb-0">Your web analytics dashboard template.</p>
  </div>
</div>

<div class="card card-body shadow border-0 table-wrapper table-responsive">

  <form
    name='NAMA'
    method='POST'
  >
    {% csrf_token %}
    <label
      for="state"
      class="my-1 mr-2"
    >Nama Pembayar: </label>
    <select
      class='form-control'
      name="NAMA"
      id="state"
      class="w-100"
      onChange="form.submit();"
    >
      <option>----- Pilih Nama -----</option>
      {% for profilTamu in profilTamu %}
      <option value={{profilTamu.Nik}}>{{profilTamu.Nama_lengkap|title}}</option>
      {% endfor %}
    </select>
  </form>

  <form method='POST'>
    {% csrf_token %}
    <div class="form-group">
      <input
        type="hidden"
        class="form-control"
        name="{{form.Nik.name}}"
        id="{{form.Nik.id_for_label}}"
        value="{{Tagihan}}"
      >
    </div>

    <div class="form-group">
      <label for="{{form.Tgl_pemasukan.id_for_label}}">{{form.Tgl_pemasukan.label}}:</label>
      {{form.Tgl_pemasukan}}
    </div>

    <div class="form-group">
      <label for="{{form.Jmlh_pemasukan.id_for_label}}">{{form.Jmlh_pemasukan.label}}:</label>
      <input
        type="text"
        class="form-control"
        name="{{form.Jmlh_pemasukan.name}}"
        id="{{form.Jmlh_pemasukan.id_for_label}}"
        {% for PaketKost in PaketKost %}
        {% if PaketKost.Paket == '3' %}
        value="5940000"
        {% elif PaketKost.Paket == '2' %}
        value="1567500"
        {% else %}
        value="550000"
        {% endif %}
        {% endfor %}
        readonly
      >
    </div>

    <div class="form-group">
      <label for="{{form.Keterangan.id_for_label}}">{{form.Keterangan.label}}:</label>
      {{form.Keterangan}}
    </div>

    <br>
    <button
      class='btn btn-primary'
      type='submit'
    >Submit</button>
  </form>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}